---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import News from '../components/News.astro'
import Publications from '../components/Publications.astro'
---

<DefaultLayout title="Home">
  <Hero />
  
  <div class="w-full px-2">
    <div class="grid grid-cols-12 gap-4 mx-8">
      <News />
      <div class="col-span-2 grid grid-rows-2 gap-4">
        <!-- Tarjetas de Instagram y Twitter -->
        <div class="row-span-1">Instagram</div>
        <div class="row-span-1">Twitter</div>
      </div>
    </div>
  </div>

  <Publications />
</DefaultLayout>
