---
import Slider from '../components/Slider'
const news = [
  { src: '/fondo1.jpg', text: 'Noticia 1' },
  { src: '/fondo2.jpg', text: 'Noticia 2' },
  { src: '/fondo3.jpg', text: 'Noticia 3' },
]

---

<section class="hero mb-16">
    <Slider slides={news} client:only="react" />
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
